<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :question %>
  <%= f.text_area :question %>

  <%= f.label :correct_answer, "The Correct Answer" %>
  <%= f.text_area :correct_answer %>

  <%= f.hidden_field :course_id, value: @course.id %>
  <div class="actions">
    <%= f.submit "Save", :class => "save-button" %>
    <% if @course.id.nil? %>
      <%= link_to "Cancel", courses_path, :class => "cancel-button" %>
    <% else %>
      <%= link_to "Cancel", course_path(@course), :class => "cancel-button" %>
    <% end %>
  </div>
<% end %>
