<% provide(:title, "Show Question") %>

<%= render 'courses/side_menu' %>
<div class="question-content">
	<div class="question-title">
		<h1>Question</h1>
		<div class="question-options">
			<%= link_to edit_question_path(@question) do %> 
				<span class="icon-cog"></span>
			<% end %>| 
			<%= link_to @question, method: :delete, data: { confirm: 'Are you sure?' } do %> 
				<span class="icon-remove"></span>
			<% end %>
		</div>
	</div>
	<p><strong>Q: </strong><%= @question.question %></p>
	<p><strong>A: </strong><%= @question.correct_answer %></p>
	<div class="question-results">
		<img src="http://placekitten.com/350/200" />
		<img src="http://placekitten.com/350/200" />
	</div>

	<h4>Your Submitted Answers</h4>
	<table>
		<tr>
			<th>Your Answer</th>
			<th>Correct?</th>
			<th>In Time?</th>
			<th>Question Sent</th>
			<th>Question Answered</th>
			<th>Options</th>
		</tr>
		<% if @question.answers.count == 0 %>
			<tr>
				<td>You haven't been asked this question yet!</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		<% else %>
			<% @question.answers.each do |answer| %>
				<% if answer.time_sent <= Time.now %>
					<tr>
						<td><%= answer.submitted_answer %></td>
						<td><%= answer.correct == 1 ? 'Yes' : 'No' %></td>
						<td><%= answer.in_time == 1 ? 'Yes' : 'No' %></td>
						<td><%= answer.time_sent %></td>
						<td><%= answer.receipt_date %></td>
						<td><%= link_to "Mark as correct", mark_correct_path(answer) %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
</div>
