<div class="questions-heading">
  <h4>Account</h4>
  <%= link_to 'Edit...', edit_account_path, :class=>"new-button right" %>
</div>

<table>
	<tr>
		<th>Plan</th>
		<th>Payment Method</th>
		<th>Active Account</th>
	</tr>
	<tr>
		<td><%= @user.plan.name %></td>
		<td>Card ending in <%= @user.last_4_digits %></td>
		<td class="<%= @user.active == 1 ? 'Active' : 'Inactive' %>-account"><%= @user.active == 1 ? 'Active' : 'Inactive' %></td>