<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :first_name, :required => true, :placeholder => "First Name" %>
  <%= f.text_field :email, :required => true, :placeholder => "Email Address" %>
  <%= f.text_field :phone_number, :required => true, :placeholder => "Phone Number" %>
  <%= f.password_field :password, :required => true, :placeholder => "Password" %>
  <%= f.password_field :password_confirmation, :required => true, :placeholder => "Password Confirmation" %>
  <%= f.hidden_field :plan_id, :value => params[:plan_id] %>

  <p>By clicking "Sign Up", I agree with the <%= link_to "Privacy Policy", privacy_policy_path %> and the <%= link_to "Terms of Service", terms_of_service_path %>.</p>

  <div class="actions">
    <%= submit_tag "Sign Up", :class => "new-user-button" %>
  </div>
<% end %>
