<div class="side-menu">
	<%= gravatar_for current_user %>
	<ul>
		<li><%= link_to 'View Profile', user_path(current_user) %></li>
		<li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
		<li><%= link_to 'Edit Settings', edit_setting_path(current_user.settings) %></li>
		<li><%= link_to 'Change Gravatar', "http://gravatar.com/emails" %></li>
	</ul>
</div>