<div class="side-menu">
	<%= link_to user_path(current_user) do %>
		<%= gravatar_for current_user %>
	<% end %>
	<ul>
		<li><%= link_to 'View Profile', user_path(current_user) %></li>
		<li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
		<li><%= link_to 'Edit Account', edit_account_path(current_user) %></li>
		<li><%= link_to 'Edit Settings', edit_setting_path(current_user.settings) %></li>
		<li><%= link_to 'Change Gravatar', "http://gravatar.com/emails" %></li>
	</ul>
</div>