<% provide(:title, "All Users") %>

<div class="user-content">
  <div class="user-title">
    <div class="questions-heading">
      <h4>Users</h4>
      <%= link_to 'New...', new_user_path, :class=>"new-button right" %>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert-<%= key %>"><%= value %></div>
    <% end %>

    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Options</th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td>
          <% if user.admin == 1 %>
            <%= link_to 'Remove Admin', toggle_admin_path(user) %>
          <% else %>
            <%= link_to 'Make Admin', toggle_admin_path(user) %>
          <% end %> | 
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>