<% provide(:title, "Account Profile") %>

<%= render 'users/side_menu' %>
<div class="user-content">
	<div class="user-title">
		<h2><%= @user.first_name %> <%= @user.last_name %></h2>
	</div>
	<p><span class="icon-phone"></span> <%= @user.phone_number %></p>
	<p><span class="icon-envelop"></span> <%= @user.email %></p>
	<%= render 'settings/display_settings', :settings => @user.settings %>
</div>