<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p>Texts Per Day <span data-tooltip class="has-tip" title="The total number of texts you will receive throughout the day"><span class="icon-info"></span></span></p>
    <%= f.text_field :texts_per_day %>
  </div>
  <div class="field">
    <p>Start Time <span data-tooltip class="has-tip" title="The earliest hour that you are open to receiving text messages (using the 24-hour clock... 0 - 23).  Do not include minutes."><span class="icon-info"></span></span></p>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <p>End Time <span data-tooltip class="has-tip" title="The latest hour that you are open to receiving text messages (using the 24-clock: 0 - 23).  Do not include minutes."><span class="icon-info"></span></span></p>
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <p>Response Time <span data-tooltip class="has-tip" title="The length of time that you have to answer for it to still be considered 'in time'."><span class="icon-info"></span></span></p>
    <%= f.text_field :response_time %> Minutes
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "save-button" %>
    <%= link_to "Cancel", user_path(current_user), :class => "cancel-button" %>
  </div>
<% end %>
