<% provide(:title, "#{@course.description}") %>

<%= render 'courses/side_menu' %>
<div class="course-content">
  <%= render 'courses/course_header' %>

  <div class="section-container horizontal-nav" data-section>
    <section class="active">
      <p class="title" data-section-title><a href="#panel1">Questions</a></p>
      <div class="content" data-section-content>

      <div class="course-results">
        <div id="correct_time" class="chart-medium" style="width: 40%; display: inline-block;"></div>
        <div id="total_correct" class="chart-medium" style="width: 40%; display: inline-block;"></div>
      </div>

      <%= render 'questions/index' %>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Exams</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>

<%= render_chart(@correct_time_chart, 'correct_time') %>
<%= render_chart(@total_correct_chart, 'total_correct') %>
</div>