<% provide(:title, "#{@course.description}") %>

<%= render 'courses/side_menu' %>
<div class="course-content">
  <% if @course.paused_flag == 1 %>
    <div class="alert-fail">This course is currently pause and will not have any questions asked! (<%= link_to "Unpause", pause_course_path(@course) %>)</div>
  <% end %>
  <div class="course-title">
    <h1><%= @course.description %></h1>
    <div class="course-options">
      <%= link_to edit_course_path(@course) do %> 
        <span class="icon-cog"></span>
      <% end %>| 
      <%= link_to @course, method: :delete, data: { confirm: 'Are you sure?' } do %> 
        <span class="icon-remove"></span>
      <% end %>| 
      <%= link_to pause_course_path(@course) do %> 
        <span class="<%= @course.paused_flag == 1 ? 'icon-play' : 'icon-pause' %>"></span>
      <% end %>
      <span data-tooltip class="has-tip" title="When a course is paused, it will be excluded from receiving the randomly generated texts."><span class="icon-info"></span></span>
    </div>
  </div>
  <div class="course-results">
    <img src="http://placekitten.com/350/200" />
    <img src="http://placekitten.com/350/200" />
  </div>

  <div class="questions">
    <div class="questions-heading">
      <h4>Questions</h4>
      <%= link_to 'New...', new_question_path(:course_id => @course.id), :class=>"new-button right" %>
    </div>
    <ul>
    <% if @course.questions.count == 0 %>
      <li>You have no questions for this course!</li>
    <% else %>
      <% @course.questions.each do |question| %>
        <li>
          <div class="question-detail">
            <%= link_to question.question, question %>
          </div>
          <div class="settings right">
            <%= link_to edit_question_path(question) do %> 
              <span aria-hidden="true" class="icon-cog"></span>
            <% end %> | 
            <%= link_to question_path(question) do %>
              <span aria-hidden="true" class="icon-stats"></span>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>