<div class="course-content">
  <h1>All Courses</h1>
  <% @courses.each do |course| %>
    <div class="listing">
      <div class="info">
        <p><%= link_to course.description, course %></p>
      </div>
      <div class="options">
        <p>
          <%= link_to 'Show', course %> | 
          <%= link_to 'Edit', edit_course_path(course) %> | 
          <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
      <br />
    </div>
  <% end %>
  <br />

  <%= link_to 'New Course', new_course_path, :class => 'button' %>
</div>