<p id="notice"><%= notice %></p>

<h1><%= @course.description %></h1>
<%= render 'settings/display_settings', :settings => @course.settings %>
<%= link_to 'Edit Settings', edit_setting_path(@course.settings) %>

<h3>Questions</h3>
<ul>
<% @course.questions.each do |question| %>
	<li><%= link_to question.question, question %></li>
<% end %>
	<li><%= link_to "New Question", new_question_path %></li>
</ul>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
