<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, :required => true, :placeholder => "Plan Name" %>
  <%= f.text_field :max_texts, :required => true, :placeholder => "Texts Per Day" %>
  <%= f.text_field :max_courses, :required => true, :placeholder => "Maximum number of courses" %>
  <%= f.text_field :max_questions, :required => true, :placeholder => "Maximum number of questions" %>
  <%= f.check_box :private_plan %> This is a private plan <span data-tooltip class="has-tip" title="Private plans do not show up to users.  They have to be applied by an admin."><span class="icon-info"></span></span>


  <div class="actions">
    <%= f.submit "Save", :class => "save-button" %>
    <%= link_to "Cancel", @plan, :class => "cancel-button" %>
  </div>
<% end %>
