<div class="header sticky">
	<nav class="top-nav">
		<ul class="title-area">
			<li class="name">
				<%= link_to root_path, :class => 'smoothScroll' do %>
					<%= image_tag "txtest-logo.png", :width => 50 %>
				<% end %>
			</li>
		</ul>
		<% if signed_in? %>
			<section class="top-bar-section right">
				<ul>
					<li><%= link_to 'Dashboard', root_path %></li>
					<li><%= link_to 'Courses', courses_path %></li>
					<li class="has-dropdown"><a href="#"><%= gravatar_for current_user, "menu-gravatar" %></a>
						<ul class="dropdown">
							<li><%= link_to 'View Profile', user_path(current_user) %></li>
							<li><%= link_to 'Edit Settings', edit_setting_path(current_user.settings) %></li>
							<li><%= link_to 'Sign Out', signout_path %></li>
						</ul>
					</li>
				  </ul>
			</section>
		<% else %>
			<section class="top-bar-section right">
				<ul>
					<li class="active-option"><%= link_to 'Sign In', signin_path %></li>
					<li><%= link_to 'Sign Up', new_user_path %></li>
				</ul>
			</section>
		<% end %>
	</nav>
</div>